<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lasso.js API Demo</title>
    {{{lassoHead}}}
</head>
<body>
    <h1 id="header">Lasso.js API Demo</h1>
    {{{lassoBody}}}
</body>
</html>
